header{
            
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/sala-de-aula-pb.jpg");
    background-size: cover;
    background-position: center;
}

.cards>.col{
    max-width: 35rem;
}

.yt-video{
    margin-left: 50px;
}

footer .social .fab{
    font-size: 1.5em;
    color: white;
    transition: color 0.3s;
}

footer .social .fa-facebook:hover{    
    color: #1196F5;
}
footer .social .fa-whatsapp:hover{    
    color: #02B63B;
}
footer .social .fa-instagram:hover{    
    color: darkorchid;
}
footer .social .fa-youtube:hover{    
    color: red;
}

.texto-card5{
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
}

.texto-card1{
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0;

}
.texto-card6{
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.container-fluid{
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .copyright{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .texto-card1{
        font-size: 30px    
    }
    
}

@media only screen and (max-width: 950px) and (min-width: 600px) {
    .texto-card1{
        font-size: 34px;    
    }
}


@media only screen and (max-width: 1200px) and (min-width: 950px) {
    .texto-card1{
        font-size: 38px;    
    }
}




